<div id="main" class="main main__none-cart ad-home">
    <div class="container block">
        <h2 class="block__title orange__title"> Staff Register </h2>
        <div class="row justify-content-center custom-info-page">
            <div class="col-md-9 col-sm-10">
                <form [formGroup]="fd.form" class="form-horizontal">

                    <table class="list-info">
                        <tr>
                            <th>{{'Username'|trans}} <span class="text-danger">*</span></th>
                            <td><input type="text" formControlName="username" id="username" placeholder="{{'User Name'|trans}}"
                                       autocomplete="off"></td>
                        </tr>
                        <tr>
                            <th>{{'Name'|trans}} <span class="text-danger">*</span></th>
                            <td><input type="text" formControlName="name" placeholder="{{'Name'|trans}}"
                                       autocomplete="off"></td>
                        </tr>
                        <tr>
                            <th>{{'Email'|trans}} <span class="text-danger">*</span></th>
                            <td><input type="text" formControlName="email" placeholder="{{'Email'|trans}}"
                                       autocomplete="off"></td>
                        </tr>
                        <tr>
                            <th>{{'Phone'|trans}} <span class="text-danger">*</span></th>
                            <td><input type="text" formControlName="telephone" placeholder="{{'Phone'|trans}}"
                                       autocomplete="off"></td>
                        </tr>
                        <tr>
                            <th>{{'Password'|trans}} <span class="text-danger">*</span></th>
                            <td><input type="password" formControlName="password" placeholder="{{'Password'|trans}}"
                                       autocomplete="off"></td>
                        </tr>
                        <tr>
                            <th>{{'Password confirmation'|trans}} <span class="text-danger">*</span></th>
                            <td><input type="password" formControlName="password_confirmation"
                                       placeholder="{{'Password confirmation'|trans}}" autocomplete="off"></td>
                        </tr>
                        <tr *ngIf="distributor">
                            <th>{{'Distributor'|trans}} <span class="text-danger">*</span></th>
                            <td><input type="text" formControlName="distributor_id" value="{{distributor.name}}" disabled
                                       placeholder="{{'Distributor'|trans}}" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <th>{{'Role'|trans}} <span class="text-danger">*</span></th>
                            <td><ele-select-dropdown [selectedId]="selectRole"  [defaultLabel]="'--- Select Role ---'" [options]="role" (selectChange)="changeRole($event)"  ></ele-select-dropdown></td>
                        </tr>
                        <tr *ngIf="check === true">
                            <th>{{'Active'|trans}}</th>
                            <td><input id="active" formControlName="active" type="checkbox"></td>
                        </tr>
                    </table>
                    <div class="block__bottom row justify-content-center">
                        <div class="col-sm-3 col-6 right">
                            <button [routerLink]="['/staff/list']" class="button_black button_black--double">Back</button>
                        </div>
                        <div class="col-sm-3 col-6 left">
                            <button (click)="save()" class="button_black button_black--double">Submit</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><img src="assets/images/icon-delete.png" alt="">
            </button>
            <!-- Modal body -->
            <div class="alert-modal">
                <div *ngIf="check === false" class="alert-modal__text">
                    Account created successfully!
                </div>
                <div *ngIf="check === true" class="alert-modal__text">
                    Account updated successfully!
                </div>
                <div class="alert-modal__button">
                    <button (click)="hidenModal()" class="button_black">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
