<ele-breadcrumb [items]="['Discount Type'|trans, 'List'|trans]" icon="sort-amount-desc"></ele-breadcrumb>

<div id="content">
    <section id="widget-grid">
        <a [routerLink]='["/discount-type/form"]' class="btn btn-default btn-success pull-right" *ngIf="app.curUser.group == app.constant.GROUP_ADMIN && permissions[app.constant.PERMISSION_CREATE_DISCOUNT_TYPE]">{{'New Discount Type'|trans}}</a>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="sorting" (click)="ld.sort('name', $event)">{{ 'Name' | trans }}</th>
                            <th class="sorting" (click)="ld.sort('code', $event)">{{ 'Code' | trans }}</th>
                            <th class="sorting" (click)="ld.sort('display_name', $event)">{{ 'Display Name' | trans }}</th>
                            <th class="sorting" (click)="ld.sort('discount_rate', $event)">{{ 'Discount Rate' | trans }}</th>
                            <th class="sorting" (click)="ld.sort('is_percentage', $event)"> {{ 'Percentage' | trans }} </th>
                            <th class="sorting" (click)="ld.sort('is_custom_rate', $event)"> {{ 'Custom Rate' | trans }} </th>
                            <th class="sorting" (click)="ld.sort('is_stack_discount', $event)"> {{ 'Stack Discount' | trans }} </th>
                            <th class="text-center col-md-1">{{'Actions'|trans}}</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="hasinput"><input (input)="ld.change('name', $event)" class="form-control" placeholder="{{'Filter'|trans}}" /></th>
                            <th class="hasinput"><input (input)="ld.change('code', $event)" class="form-control" placeholder="{{'Filter'|trans}}" /></th>
                            <th class="hasinput"><input (input)="ld.change('display_name', $event)" class="form-control" placeholder="{{'Filter'|trans}}" /></th>
                            <th class="hasinput"><input  (input)="ld.change('discount_rate', $event)" class="form-control" placeholder="{{'Filter'|trans}}"/></th>
                            <th class="hasinput">
                                <select (change)="ld.change('is_percentage',$event)" class="form-control" >
                                    <option *ngFor="let item of app.constant.Active|list:('Select'|trans)" [value]="item.key||''" [selected]="item.key==''" >{{item.value|trans}}</option>
                                </select>
                            </th>
                            <th class="hasinput">
                                <select (change)="ld.change('is_custom_rate',$event)" class="form-control" >
                                    <option *ngFor="let item of app.constant.Active|list:('Select'|trans)" [value]="item.key||''" [selected]="item.key==''" >{{item.value|trans}}</option>
                                </select>
                            </th>
                            <th class="hasinput">
                                <select (change)="ld.change('is_stack_discount',$event)" class="form-control" >
                                    <option *ngFor="let item of app.constant.Active|list:('Select'|trans)" [value]="item.key||''" [selected]="item.key==''" >{{item.value|trans}}</option>
                                </select>
                            </th>
                            <th class="text-center">
                                <a (click)="ld.reset($event)"  title="{{'Reset'|trans}}" class="btn btn-sm btn-default"><i class="fa fa-refresh"></i></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody *ngIf="ld.result.total == 0">
                        <tr>
                            <td colspan="8" class="text-center">{{'No data result'|trans}}</td>
                        </tr>
                        </tbody>
                        <tbody *ngIf="ld.result">
                        <tr *ngFor="let item of ld.result.data; let i = index">
                            <td>{{ ld.result.from + i }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.code }}</td>
                            <td> {{ item.display_name }} </td>
                            <td> {{ item.discount_rate }} </td>
                            <td> {{ item.is_percentage ? 'Yes' : 'No' | trans }} </td>
                            <td> {{ item.is_custom_rate ? 'Yes' : 'No' | trans }} </td>
                            <td> {{ item.is_stack_discount ? 'Yes' : 'No' | trans }} </td>
                            <td class="text-center" *ngIf="app.curUser.group != app.constant.GROUP_ADMIN"></td>
                            <td class="text-center" *ngIf="app.curUser.group == app.constant.GROUP_ADMIN">
                                <!-- <a [routerLink]='["/user",item.id]' title="{{'View'|trans}}" class="btn btn-sm btn-default"><i class="fa fa-eye"></i> </a> -->
                                <a  [routerLink]='["/discount-type/form",item.id]' *ngIf="permissions[app.constant.PERMISSION_EDIT_DISCOUNT_TYPE]" title="{{'Edit'|trans}}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <ele-paginator *ngIf="ld" currentPage="{{ld.result.current_page}}" totalPages="{{ld.result.last_page}}"></ele-paginator>
            </div>
        </div>
    </section>
</div>
