<div class="header header__logo" >
    <div class="container header-inner">
        <div class="header--left">
            <h1 class="logo-main">
                <img class="logo-main_pc" src="assets/images/prime.gif">
                <img class="logo-main_mb" src="assets/images/prime.gif">
            </h1>
        </div>
    </div>
</div>
<div  class="main main__logo login-page">
    <div class="container">
        <div class="row justify-content-center">
            <form class="col-md-6 col-sm-10 login--form cd-form" >
                <p class="login__note">Change Email</p>
                <div class="login__bottom show-mess">
                    <input type="submit" class="button_black" value="Submit" (click)="changeEmail()">
                </div>
                <a [routerLink]="" (click)="login()" class="login__bottom--link">Back to login screen</a>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    Copyright © PRIME CORPORATION
</div>
