<header id="header">
  <div id="logo-group">
    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
    <!-- END LOGO PLACEHOLDER -->
  </div>

  <!-- #TOGGLE LAYOUT BUTTONS -->
  <!-- pulled right: nav area -->
  <div class="pull-right">
    <ele-user-profile-menu></ele-user-profile-menu>

    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header pull-right">
      <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
    </div>
    <!-- end collapse menu -->

    <!-- logout button -->
    <!-- end logout button -->

    <!-- multiple lang dropdown : find all flags in the flags page -->
    <ele-language-selector></ele-language-selector>
    <!-- end multiple lang -->

  </div>
  <!-- end pulled right: nav area -->

</header>
