.order-6 {
    top: -2px;
    left: 0;
    border: 2px solid snow;
}

.flowBox {
    background: #FFFFFF;
    margin: 0px;
    float: left;
    padding: 10px;
    width: 100%;
    position: relative;
}

.info-order {
    color: #333;
    background: #f8f8f8 !important;
    border: 1px solid #d1d1d1 !important;
}

label {
    padding-top: 5px;
}

.info-div {
    padding-bottom: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#info-form {
    /*padding-bottom: 46px;*/
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.accept {
    color: #0aa66e !important;
}

.reject {
    color: red !important;
}

.send {
    background: #0c7cd5 !important;
    color: white;
}

input:required {
    border: 1px solid red;
}

.col-md-1 {
    width: none;
}

.sale-order {
    margin-top: 40px;
}

@media (min-width: 992px){
    .col-md-1 {
        width: 8.333333%;
    }
}

.attr {
    margin-bottom: 5px;
}

input:required {
    border: 1px solid red !important;
}


table.table-bordered tr:first-child th{
    color: #333;
    background: #eee !important;
}


