<!-- header start-->
<!--<div class="header">-->
<!--    &lt;!&ndash; top start&ndash;&gt;-->
<!--    <div class="header-top">-->
<!--        <div class="container">-->
<!--            <div class="header-top&#45;&#45;inside">-->
<!--                ...-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; top end&ndash;&gt;-->
<!--    <div class="banner container">-->
<!--        <div class="row align-items-end ">-->
<!--            <h1 class="col-md-2 col-sm-12">-->
<!--                <a href="#" class="logo">-->
<!--                    <img src="https://dummyimage.com/150x80/000/fff" alt="">-->
<!--                </a>-->
<!--            </h1>-->
<!--            <div class="col-md-10 col-sm-12 nav-container">-->
<!--                <ele-menu></ele-menu>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="header">
    <div class="container header-inner">
        <div class="header--left">
            <h1 class="logo-main">
                <img class="logo-main_pc" src="assets/images/prime.gif">
                <img class="logo-main_mb" src="assets/images/prime.gif">
            </h1>
            <div class="nav-outer">
                <div class="nav-name">{{customerName}}</div>
                <ele-menu></ele-menu>
                <!-- Use any element to open the sidenav -->
                <span class="nav-open" onclick="openNav()">☰</span>
            </div>
        </div>
<!--        <ele-language-selector></ele-language-selector>-->
    </div>
</div>
<!-- header end-->
