<ele-breadcrumb [items]="['Category'|trans, (fd.isNew?'Add':'Edit')|trans]" icon="cubes"></ele-breadcrumb>

<div id="content">
    <div class="row">
        <div class="col-md-12">
            <div class="jarviswidget">
                <header>
                    <div class="jarviswidget-ctrls">
                        <a class="button-icon form-fullscreen-btn">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                    <span class="widget-icon"> <i class="fa fa-pencil-square-o"></i> </span>
                    <h2>{{'Category'|trans}}</h2>
                </header>
                <div class="widget-body">
                    <form [formGroup]="fd.form" class="form-horizontal" (ngSubmit)="save()">
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{'Code'|trans}} <span class="text-danger">*</span></label>
                            <div class="col-md-10">
                                <input formControlName="code" placeholder="{{'Code'|trans}}"  type="text" class="form-control" autocomplete="false">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{'Name'|trans}} <span class="text-danger">*</span></label>
                            <div class="col-md-10">
                                <input formControlName="name" placeholder="{{'Name'|trans}}"  type="text" class="form-control" autocomplete="false">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"> {{ 'Active' |trans }} <span class="text-danger"> * </span> </label>
                            <div class="checkbox col-md-1">
                                <label>
                                    <input type="checkbox" formControlName="active" class="checkbox style-0"  />
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <fieldset>
                            <div class="form-group action_box">
                                <div class="checkbox col-md-10 col-md-offset-2">
                                    <a class="btn btn-default" [routerLink]='["/list_category"]' type="button">{{'Back'|trans}}</a>
                                    <button class="btn btn-success" type="submit">{{'Save'|trans}}</button>
                                </div>
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
