<!--footer start-->
<div class="footer">
<!--    <div class="container">-->
<!--        <ul class="row site-map-list">-->
<!--            <li class="col site-map-list&#45;&#45;item"><a href="#">Home</a></li>-->
<!--            <li class="col site-map-list&#45;&#45;item"><a href="#">Home</a></li>-->
<!--            <li class="col site-map-list&#45;&#45;item"><a href="#">Home</a></li>-->
<!--            <li class="col site-map-list&#45;&#45;item"><a href="#">Home</a></li>-->
<!--            <li class="col site-map-list&#45;&#45;item"><a href="#">Home</a></li>-->
<!--            <li class="col site-map-list&#45;&#45;item"><a href="#">Home</a></li>-->
<!--            <li class="col site-map-list&#45;&#45;item"><a href="#">Home</a></li>-->
<!--        </ul>-->
<!--    </div>-->
    <div class="copy">
        Copyright © PRIME CORPORATION
    </div>
</div>
<!--footer end-->
